<div class="page">
  <div class="header">Code Compass</div>

  <div class="content">
    <p>
      Welcome to Code Compass, your personal guide through the world of
      programming. Here, you can select your current skills from a wide range of
      programming languages and technologies. Based on your selection, our
      system will help you choose the next steps in your learning journey,
      recommend resources, and guide you towards mastering new skills. Start now
      by choosing your skills and let Code Compass navigate your path to coding
      excellence.
    </p>

    <p style="margin-top: 3rem; text-align: center">
      Choose required project type and size to get a recommendation:
    </p>

    <div class="dropdowns-block" style="display: flex; gap: 1rem">
      <p-dropdown
        [options]="appTypeOptions"
        [(ngModel)]="appTypeOption"
        (ngModelChange)="recommendation = ''"
        placeholder="Select project type"
        [disabled]="loading"
      ></p-dropdown>

      <p-dropdown
        [options]="appSizeOptions"
        [(ngModel)]="appSizeOption"
        (ngModelChange)="recommendation = ''"
        placeholder="Select project size"
        [disabled]="loading"
      ></p-dropdown>

      <button
        pButton
        pRipple
        type="button"
        label="Ask"
        [disabled]="loading"
        (click)="getRecommendation()"
      ></button>
    </div>

    <ng-container>
      <p *ngIf="loading" class="text">I'm thinking...</p>
      <p *ngIf="!recommendation && !loading" class="text">
        Hello, I'll help you!
      </p>
      <p *ngIf="recommendation && !loading" class="text">
        My recommendation: <span class="rec">{{ recommendation }}</span>
      </p>
      <div class="robot-loader">
        <div class="robot-eye"></div>
        <div class="robot-eye"></div>
        <ng-container *ngIf="loading">
          <div
            class="thinking-bubble"
            style="left: -30px; animation-delay: -0.5s"
          ></div>
          <div
            class="thinking-bubble"
            style="left: -45px; animation-delay: -1s"
          ></div>
          <div
            class="thinking-bubble"
            style="left: -60px; animation-delay: -1.5s"
          ></div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
